
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>

    <title>Just their good stuff</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="dist/css/jumbotron-narrow.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/js/bootstrap.js"></script>
    <script src="/js/webb.js"></script>
</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h1 class="text-muted">Just their good stuff</h1>
    </div>

    <div class="jumbotron">
        <form action="#" th:action="@{/justtheirgoodstuff}" th:object="${formFields}" method="post">
            <label for="search">Enter a song you like: </label>
            <input th:field="*{search}" type="text" id="search" placeholder="I and Love and You"/>

            <div>
                <h2>What do you like about it?</h2>
                <ul>
                    <li><input th:field="*{likeAboutIt}" type="radio" class="btn btn-lg btn-primary" th:value="Tempo" />Tempo</li>
                    <li><input th:field="*{likeAboutIt}" type="radio" class="btn btn-lg btn-default" th:value="Danceability" />Danceability</li>
                    <li><input th:field="*{likeAboutIt}" type="radio" class="btn btn-lg btn-default" th:value="Vocals" />Vocals</li>
                    <li><input th:field="*{likeAboutIt}" type="radio" class="btn btn-lg btn-default" th:value="LackOfVocals" />Lack of Vocals</li>
                    <li><input th:field="*{likeAboutIt}" type="radio" class="btn btn-lg btn-default" th:value="ItsCatchy" />It's Catchy</li>
                </ul>
            </div>

            <input type="submit" value="Search" class="btn btn-lg btn-primary"/>
        </form>
    </div>

    <h2 th:text="${formFields.artist}"></h2>

    <div class="row row-centered">
        <div class="col-md-12 col-centered">
            <table>
                <h3>
                    <b th:text="'Songs with similar ' + ${formFields.likeAboutIt}">Wireframe </b>
                    <button type="button" class="btn btn-xs btn-success">Create Playlist</button>
                </h3>
                <tr th:each="song : ${formFields.songs}">
                    <td th:text="${song.title}">Wireframe</td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

    <footer>
        <p>© Webb 2014</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
